<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zemna.WindowsServiceController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zemna.WindowsServiceController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zemna.WindowsServiceController.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoControl" serializeAs="String">
                <value>False</value>
            </setting>
        </Zemna.WindowsServiceController.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Zemna.WindowsServiceController.Properties.Settings>
            <setting name="ServiceName" serializeAs="String">
                <value>AeLookupSvc</value>
            </setting>
            <setting name="EventLogSource" serializeAs="String">
                <value>Service Control Manager</value>
            </setting>
            <setting name="EventLogName" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="EventLogMachineName" serializeAs="String">
                <value>.</value>
            </setting>
        </Zemna.WindowsServiceController.Properties.Settings>
    </applicationSettings>
</configuration>